<!doctype html>
<html ng-app="myapp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="../scripts/myScript.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"href="../styles/myStyle.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 first_box" style='background:#e3b3cd'>
        <!-- <img src="https://angularjs.org/img/AngularJS-large.png" /> -->
        <label>AngularJSとは</label>
      </div>
    </div>

    <div class="row">
      <!-- ただ出力するだけ -->
      <div ng-controller="displayCntrl" class="col-xs-12" style='background:#dd9b9d;'>
        <div class="row">
          <div class="col-xs-12 first_box">
            <label>双方向データバインディングとは　これだ</label>
            <input type="text" ng-model="firstText" class="form-control" />

            <label>表示結果はこちら： {{firstText}}</label>
          </div>
        </div>
      </div>
    </div>
    <!-- リストに詰めてく -->
    <div ng-controller="listCntrl">
      <div class="row">
        <div class="col-xs-7 first_box" style='background:#e3b3cd;'>
          <label>双方向データバインディングの応用編</label><br>
          <label>好きなものと数字を打ち込んでください</label><br>
          <label>name  :</label>
          <input type="text" ng-model="secondText" class="form-control" />
          <label>score :</label>
          <input type="number" ng-model="numberText" class="form-control" />
          <button ng-click="addListText()" class="btn btn-sm" >push</button>
        </div>
        <div class="col-xs-5 first_box" style='background:#e3b3cd;'>
          <table class="table table-bordered">
            <th>name</th>
            <th>score</th>
            <th>delete</th>
            <tr ng-repeat="list in listText">
              <td>{{list.secondText}}</td>
              <td>{{list.numberText}}</td>
              <td><button type="button" class="btn btn-outline-danger btn-sm" ng-click="deleteText($index)">×</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 first_box" style='background:#dd9b9d;' >
          <label>スコア順</label>
          <table>
            <tr ng-repeat="list in listText|orderBy:'numberText'">
              <td>{{list.secondText}}</td>
              <td>{{list.numberText}}</td>
            </tr>
          </table>
        </div>
        <div class="col-xs-4 first_box" style='background:#e3b3cd;' >
          <label>Filterを使った検索</label>
          <input type="text" ng-model="searchText.secondText" class="form-control" />
          <table>
            <tr ng-repeat="list in listText|filter:searchText">
              <td>{{list.secondText}}</td>
              <td>{{list.numberText}}</td>
            </tr>
          </table>
        </div>
        <div class="col-xs-4 first_box" style='background:#dd9b9d;' >
        </div>


      </div>

    </div>



    <!-- <div class="col-xs-6" style='background:#FECEA8;'>hoge</div> -->

  </div>
</body>
</html>
